[submodule "cmake"]
	path = cmake
	url = https://github.com/staticlibs/cmake.git
[submodule "deps/staticlib_utils"]
	path = deps/staticlib_utils
	url = https://github.com/staticlibs/staticlib_utils.git
[submodule "deps/staticlib_httpserver"]
	path = deps/staticlib_httpserver
	url = https://github.com/staticlibs/staticlib_httpserver.git
[submodule "deps/staticlib_containers"]
	path = deps/staticlib_containers
	url = https://github.com/staticlibs/staticlib_containers.git
[submodule "deps/external_zlib"]
	path = deps/external_zlib
	url = https://github.com/staticlibs/external_zlib
[submodule "webapp"]
	path = webapp
	url = https://github.com/akashche/dynamic_bar_chart_example.git
[submodule "deps/staticlib_jni"]
	path = deps/staticlib_jni
	url = https://github.com/staticlibs/staticlib_jni.git
[submodule "deps/staticlib_config"]
	path = deps/staticlib_config
	url = https://github.com/staticlibs/staticlib_config.git
[submodule "deps/staticlib_io"]
	path = deps/staticlib_io
	url = https://github.com/staticlibs/staticlib_io.git
