[submodule "cmake"]
	path = cmake
	url = https://github.com/staticlibs/cmake.git
[submodule "deps/staticlib_utils"]
	path = deps/staticlib_utils
	url = https://github.com/staticlibs/staticlib_utils.git
[submodule "deps/staticlib_httpserver"]
	path = deps/staticlib_httpserver
	url = https://github.com/staticlibs/staticlib_httpserver.git
[submodule "deps/staticlib_containers"]
	path = deps/staticlib_containers
	url = https://github.com/staticlibs/staticlib_containers.git
[submodule "deps/external_zlib"]
	path = deps/external_zlib
	url = https://github.com/staticlibs/external_zlib
[submodule "webapp"]
	path = webapp
	url = https://github.com/akashche/dynamic_bar_chart_example.git
[submodule "deps/staticlib_config"]
	path = deps/staticlib_config
	url = https://github.com/staticlibs/staticlib_config.git
[submodule "deps/staticlib_io"]
	path = deps/staticlib_io
	url = https://github.com/staticlibs/staticlib_io.git
[submodule "deps/staticlib_endian"]
	path = deps/staticlib_endian
	url = https://github.com/staticlibs/staticlib_endian.git
[submodule "deps/staticlib_pimpl"]
	path = deps/staticlib_pimpl
	url = https://github.com/staticlibs/staticlib_pimpl.git
[submodule "deps/staticlib_unzip"]
	path = deps/staticlib_unzip
	url = https://github.com/staticlibs/staticlib_unzip.git
[submodule "deps/external_openssl"]
	path = deps/external_openssl
	url = https://staticlibs@github.com/staticlibs/external_openssl.git
